.card {
    max-width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.form-table th {
    width: 200px;
}

#ft-ppv-notice {
    margin-top: 20px;
}

.wp-list-table {
    margin-top: 15px;
}

.delete-player {
    color: #dc3232;
} 